// Заголовки, общие БЄМ блоки и проче...

// popup-goods ====================================================================================================//

.popup-goods {
	max-width: 684px;
	//margin: 0 auto;
	background-color: #fff;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
	border-radius: 24px;
	padding: 24px 24px 36px 24px;
	@media (max-width: 700px) {
		padding: 15px 15px 20px 15px;
	}

	&__title {
		@include adaptiveValue("font-size", 40, 30);
		font-weight: 600;
		line-height: 120%;
		@include adaptiveValue("padding-bottom", 24, 20);
	}

	&__body {
		display: flex;
		gap: 16px;
		@media (max-width: 530px) {
			flex-direction: column;
		}
	}

	&__image {
		img {
			border-radius: 13px;
			width: 276px;
		}
		@media (max-width: 530px) {
			text-align: center;
			img {
				max-width: 100%;
			}
		}
	}

	&__description {
		line-height: 130%;
	}

	&__order {
	}
}
.description-popup-goods {

	&__text {
		padding-bottom: 12px;
	}

	&__composition {
		font-size: 14px;
		padding-bottom: 6px;
		p:first-child {
			font-weight: 600;
			padding-bottom: 4px;
			font-size: 16px;
		}
	}

	&__weight {
		font-size: 14px;
		line-height: 130%;
		color: #B1B1B1;
	}
}
.order-popup-goods {
	display: flex;
	align-items: center;
	@include adaptiveValue("margin-top", 40, 30);

	&__button {
		flex: 0 1 276px;
		flex-direction: column;
		background-color: #f2f2f3;
		padding: 9px 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 12px;
		transition: background-color 0.3s ease 0s;
		background-color: #FFAB08;
		&:hover{
			background-color: #ff7020;
		}
	}

	&__count {
		padding-left: 16px;
		flex-direction: column;
		flex: 1 1 auto;
	}

	&__count-box {
		background-color: #f2f2f3;
		width: 84px;
		height: 40px;
		display: flex;
		gap: 4px;
		justify-content: center;
		align-items: center;
		border-radius: 12px;
		span{
			cursor: pointer;
			padding: 10px 6px;
			user-select: none;
			transition: all 0.3s ease 0s;
			&:first-child {
				padding: 12px 10px 12px 10px;
				border-radius: 12px 0 0 12px;
				&:hover{
					background-color: #FFAB08;
				}
			}
			&:last-child{
				padding: 12px 10px 12px 10px;
				border-radius: 0px 12px 12px 0;
				&:hover{
					background-color: #FFAB08;
				}
			}
			&:first-child:active:active{
				background-color: #ff7020;
			}
			&:last-child:active:active{
				background-color: #ff7020;
			}
		}
	}

	&__bill {
		flex-direction: column;
		font-weight: 600;
		line-height: 130%;
		padding-left: 15px;
	}
}

.popup__content {
	position: relative;
}

.popup__close{
	position: absolute;
	top: 16px;
	right: 16px;
	//height: 40px;
	//width: 40px;
	background-color: transparent;
	rect {
		fill: #FFAB08;
		transition: all 0.3s ease 0s;
	}
	&:hover {
		rect {
			fill: #ff7020;
		}
	}
	&_m {
		@media (max-width: 500px) {
			rect {
				fill: #000;
				transition: all 0.3s ease 0s;
			}
		}
	}
}

// popup-delivery ====================================================================================================//

.popup-delivery {
	padding: 0;

	&__box {
		border-radius: 19px 24px 24px 19px;
		display: flex;
		align-items: center;
		background-color: #FFAB08;
		@media (max-width: 500px) {
			flex-wrap: wrap;
		}
	}

	&__image {
		flex: 0 1 50%;
		background-color: #FFAB08;
		@media (max-width: 500px) {
			flex: 0 1 100%;
			text-align: center;
			border-radius: 20px 20px 0 0 ;
			img {
				width: 60%;
			}
		}
		img {
			max-width: 100%;
		}
		border-radius: 20px 0 0 20px;
	}

	&__body {
		flex: 0 1 50%;
		padding: 44px 24px 24px 24px;
		background-color: #F9F9F9;
		border-radius: 0 24px 24px 0;
		@media (max-width: 500px) {
			flex: 0 1 100%;
			border-radius: 0 0 19px 19px;
		}
	}

	&__form {
	}

	&__input {
		width: 100%;
		height: 40px;
		margin-bottom: 8px;
		padding: 0px 12px;
		font-size: 12px;
		border-radius: 12px;
		border: 1px solid #F2F2F3;
		&::placeholder{
			line-height: 130%;
			color: #B1B1B1;
		}
		&:focus {
			border: 1px solid #FFAB08 !important;
		}
		@media (max-width: 500px) {
			font-size: 16px;
		}
	}

	&__input-radio {
		padding: 16px 0px;
		font-size: 14px;
	}

	&__button {
		width: 100%;
		height: 40px;
		background-color: #FFAB08;
		border-radius: 12px;
		color: #fff;
		transition: all 0.3s ease 0s;
		margin-top: 32px;
		&:hover {
			background-color: #ff7020;
		}
	}
}

.popup-delivery__input._form-focus {
	outline: 1px solid #FFAB08;
}

.radio-box {
	width: 0;
	height: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
}


.check-style {
	position: absolute;
	width: 16px;
	height: 16px;
	border: 1px solid #ff7020;
	border-radius: 50%;
	top: -2px;
	left: 2px;
}

.radio {

	&__carry {
		display: block;
		margin-bottom: 12px;
		position: relative;
		padding-left: 20px;
	}
	&__delivery {
		display: block;
		position: relative;
		padding-left: 20px;
	}
}

label {
	cursor: pointer;
	user-select: none;
	@media (max-width: 500px) {
		font-size: 16px;
	}
}

//.radio__carry._form-focus .check-style {
//	background-color: #ff7020;
//}
//.radio__delivery._form-focus .check-style {
//	background-color: #ff7020;
//}

.radio__carry._active .check-style {
	background-color: #ff7020;
}
.radio__delivery._active .check-style {
	background-color: #ff7020;
}


.input {

	&__name {
	}

	&__tel {
	}

	&__adress {
		//visibility: hidden;
		//display: none;
	}

	&__floor {
	}

	&__door-phone {
	}

	&__house {
		display: flex;
		gap: 8px;
		//visibility: hidden;
	}
}

//.radio__delivery._form-focus.input__adress {
//	display: block;
//}