.page {
	//position: relative;
}

.category {
	padding-top: 40px;
	//overflow: auto;
	//padding-bottom: 20px;
	overflow-x: auto;

	&::-webkit-scrollbar {
		margin-top: 20px;
		height: 10px;
		background-color: #FFAB08;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #F86310;
}

		&__container {
			@media (max-width: 1250px) {
				margin-left: -15px;
			}
		}

		&__list {
			display: flex;
			gap: 10px;
			justify-content: space-between;
		}
}

._unavailable {
	opacity: .5;
	user-select: none;
	&.button-category:hover{
		outline: none;
		cursor: auto;
	}
}

.button-category {
	cursor: pointer;
	user-select: none;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 7px;
	min-width: 130px;
	background-color: #FFAB08;	//!!!
	padding: 9px 14px;
	border-radius: 50px;
	&:hover{
		outline: 1px solid #F86310;
	}

		&__icon {
		}

		&__name {
			line-height: 137.5%; /* 22/16 */
		}
}

// main-content ====================================================================================================//

.main-content {
	//margin-bottom: 100px;	//!!!

	@include adaptiveValue("padding-top", 50, 40);

	&__container {
		display: flex;
		gap: 30px;
	}
}

.market-basket {
	overflow: auto;
	min-width: 300px;
	@media (max-width: 992px) {
		//display: none;
		position: fixed;
		transition: all 0.3s ease 0s;
		top: 0;
		left: -120%;
		height: 100%;
		background-color: #fff;
		box-shadow: 15px 0px 40px #000;
	}
}

.market-basket._active{
	@media (max-width: 992px) {
		//display: none;
		position: fixed;
		top: 0;
		left: 0;
	}
}

.goods {
	
	&__content {
	}
	
	&__burger {
	}
}

// goods ====================================================================================================//

.content-goods {

	&__title {
		@include adaptiveValue("font-size", 40, 30);
		font-weight: 600;
		line-height: 120%;
		@include adaptiveValue("padding-bottom", 25, 20);
	}

	&__goods {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		@media (max-width: 500px) {
			justify-content: space-between;
		}
	}

	&__card {
		flex: 0 1 33.333%;
		@media (max-width: 500px) {
			flex: 0 1 50%;
		}
		margin-bottom: 25px;
	}
}

.card-content-goods {

	&__content {
		padding: 12px;
		@media (max-width: 1200px) {
			padding: 5px;
		}
		transition: all 0.2s ease 0s;
		&:hover {
			.card-content-goods__button {
				background-color: #FFAB08;
			}
			background-color: #f9f9f9;
		}
	}

	&__image {
		img {
			max-width: 100%;
			border-radius: 13px;
		}
		padding-bottom: 16px;
	}

	&__price {
		@include adaptiveValue("font-size", 24, 18);
		font-weight: 600;
		line-height: 100%;
		padding-bottom: 8px;
	}

	&__description {
		line-height: 130%;
		@include adaptiveValue("padding-bottom", 30, 20);
	}

	&__weight {
		font-weight: 600;
		line-height: 130%;
		color: #B1B1B1;
		padding-bottom: 8px;
	}

	&__button {
		background-color: #F2F2F3;
		display: flex;
		justify-content: center;
		width: 100%;
		padding: 10px 0px;
		border-radius: 12px;
		transition: all 0.2s ease 0s;
		&:hover {
			background-color: #F86310 !important;
		}
	}
}

._hidden {
	display: none;
}

// market-basket ====================================================================================================//

.market-basket {

	&__body {
		padding: 24px 16px;
	}

	&__head {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__order {
	}

	&__card {
	}

	&__total {
	}

	&__button {
		background-color: #FFAB08;
		height: 40px;
		width: 100%;
		border-radius: 12px;
		transition: all 0.3s ease 0s;
		&:hover {
			background-color: #F86310;
		}
	}

	&__free-delivery {
	}
}

.free-delivery-market-basket__free{
	padding-top: 15px;
	font-size: 14px;
	color: #3b3b3b;
}

._none{
	display: none;
}
/////////////////////////

.head-market-basket {
	padding-bottom: 12px;
	border-bottom: 1px solid #F2F2F3;

	&__title {
		@include adaptiveValue("font-size", 24, 18);
		font-weight: 600;
		line-height: 100%;
	}

	&__count-goods {
		font-size: 12px;
		background-color: #F2F2F3;
		padding: 5px 16px;
		border-radius: 6px;
	}
}
////////////////////////////

.card-market-basket {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 14px 0px;
	border-bottom: 1px solid #F2F2F3;
	transition: all 0.3s ease 0s;
	&:hover{
		background-color: #fbfbfb;
	}


	&__image {
		img {
			//max-width: 100%;
			width: 64px;
		}
	}

	&__definition {
		padding-left: 6px;
		font-size: 12px;
		line-height: 133.333333%; /* 16/12 */
		flex: 1 1 100%;
	}

	&__count {
	}
}
////////////////////////////

.definition-card {

	&__name {
	}

	&__weight {
		color: #B1B1B1;
	}

	&__price {
	}
	div {
		padding-bottom: 2px;
	}
}
///////////////////////

.total-market-basket {
	margin-top: 16px;
	margin-bottom: 24px;
	display: flex;
	justify-content: space-between;
	line-height: 130%;

	&__text {
	}

	&__value {
	}
}
/////////////////////////
.free-delivery-market-basket {
	display: flex;
	align-items: center;
	gap: 8px;
	padding-top: 15px;

	&__icon {
	}

	&__text {
		font-size: 16px;
		padding-top: 5px;
		color: red;
	}
}

.free-delivery-market-basket__text._green{
	color: green;
}
.free-delivery-market-basket._none{
	display: none;
}

.icon-bascket{
	display: none;
	@media (max-width: 992px) {
		display: block;
		cursor: pointer;
		max-width: 60px;
		position: fixed;
		top: 90%;
		right: 35px;
		width: 100%;
		height: 100%;
		svg{
			position: relative;
			z-index: 1;
		}
		path{
			fill: #F86310;
		}
		span{
			position: relative;
			&::before{
				content: '';
				border-radius: 50%;
				position: absolute;
				width: 80px;
				height: 80px;
				top: -54px;
				left: -69px;
				backdrop-filter: blur(5px);
			}
		}
	}
}